div.md-footer .md-footer {
    display: none;
  }

div.md-copyright {
    display: none;
}

div.footer.md-footer {
    display: none;
}

div.md-footer-meta__inner {
    display: none;
}

div.md-grid {
    display: none;
}

div.md-footer.meta.md-typeset {
    display: none;
}

.md-footer .md-copyright,
.md-footer .md-footer__made-with,
.md-footer .md-footer__meta {
  display: none !important;
}

.md-nav__button.md-header__button {
    color: #5865F2;
    font-weight: bold;
}

.md-nav__button.md-header__button:hover {
    background-color: #4a5ac7;
}